<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dashboard</title>
</head>
<body class="gradient-custom">
    <h1 class="mt-3 title">Dashboard</h1>
    <% if(error.length > 0) {  %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error</strong> <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>  
        <% } %>
          
        <% if(success.length > 0){  %> 
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sukses</strong> <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  
        <% } %>
        <div class="logout-container">
            <form action="/logout" method="post">
                <button class="btn btn-danger logout">Logout</button>
            </form>
        </div>
          <table class="table table-custom mt-5">
            <thead>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Tempat & Tanggal Lahir</th>
                <th>Pendidikan Terakhir</th>
                <th>Skills</th>
            </thead>
            <tbody>
                <% for(let i = 0 ; i < calonPegawai.length ; i++){ %>
                <tr>
                    <td><%= calonPegawai[i]["dataValues"]["nama"] %></td>
                    <td><%= calonPegawai[i]["dataValues"]["alamat"] %></td>
                    <td><%= calonPegawai[i]["dataValues"]["tempat_lahir"] %>, <%= calonPegawai[i]["dataValues"]["tgl_lahir"] %></td>
                    <td><%= calonPegawai[i]["dataValues"]["pendidikan_terakhir"] %></td>
                    <td>
                        <% const skills = JSON.parse(calonPegawai[i]["dataValues"]["skills"]) %>
                        <% for(let j = 0 ; j < skills.length ; j++) { %>
                            <%=skills[j]%>
                        <%}%>
                    </td>
                </tr>
                <%}%>
            </tbody>
          </table>
          <a href="/hasil" class="btn btn-outline-light btn-lg px-5">Hitung SAW</a>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>